Hugo_LAND.Client/Connected Services/HugoLandServices/HugoLandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HugoLandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.Core.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_Authentification_InputMessage">
    <wsdl:part name="parameters" element="tns:Authentification" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Authentification_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthentificationResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountInfoByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfoByUsername" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountInfoByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfoByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetAllClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClasses" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetAllClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_CreateClass_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_CreateClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_DeleteClass_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_DeleteClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_SaveClass_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_SaveClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetClassByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassByName" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetClassByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_ReturnHerosFromAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnHerosFromAccount" />
  </wsdl:message>
  <wsdl:message name="IHeroService_ReturnHerosFromAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnHerosFromAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_CreateHero_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateHero" />
  </wsdl:message>
  <wsdl:message name="IHeroService_CreateHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateHeroResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_DeleteHero_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHero" />
  </wsdl:message>
  <wsdl:message name="IHeroService_DeleteHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHeroResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_MoveHero_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveHero" />
  </wsdl:message>
  <wsdl:message name="IHeroService_MoveHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveHeroResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_ReturnHero_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnHero" />
  </wsdl:message>
  <wsdl:message name="IHeroService_ReturnHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnHeroResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_ConnectHero_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectHero" />
  </wsdl:message>
  <wsdl:message name="IHeroService_ConnectHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectHeroResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_ReturnHeroes_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnHeroes" />
  </wsdl:message>
  <wsdl:message name="IHeroService_ReturnHeroes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnHeroesResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_IsHeroConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:IsHeroConnected" />
  </wsdl:message>
  <wsdl:message name="IHeroService_IsHeroConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsHeroConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_PicksUpItem_InputMessage">
    <wsdl:part name="parameters" element="tns:PicksUpItem" />
  </wsdl:message>
  <wsdl:message name="IHeroService_PicksUpItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:PicksUpItemResponse" />
  </wsdl:message>
  <wsdl:message name="IWorldService_GetAllWorldNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorldNames" />
  </wsdl:message>
  <wsdl:message name="IWorldService_GetAllWorldNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorldNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IWorldService_GetWorldByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldByName" />
  </wsdl:message>
  <wsdl:message name="IWorldService_GetWorldByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWorldItemService_ReturnWorldItems_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWorldItems" />
  </wsdl:message>
  <wsdl:message name="IWorldItemService_ReturnWorldItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWorldItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonsterService_ReturnMonsters_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnMonsters" />
  </wsdl:message>
  <wsdl:message name="IMonsterService_ReturnMonsters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnMonstersResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_ReturnItems_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnItems" />
  </wsdl:message>
  <wsdl:message name="IItemService_ReturnItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetPlayerInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInventory" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetPlayerInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInventoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="Authentification">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Authentification" message="tns:IAccountService_Authentification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AuthentificationResponse" message="tns:IAccountService_Authentification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfoByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccountInfoByUsername" message="tns:IAccountService_GetAccountInfoByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountInfoByUsernameResponse" message="tns:IAccountService_GetAccountInfoByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IClassService">
    <wsdl:operation name="GetAllClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/GetAllClasses" message="tns:IClassService_GetAllClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/GetAllClassesResponse" message="tns:IClassService_GetAllClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/CreateClass" message="tns:IClassService_CreateClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/CreateClassResponse" message="tns:IClassService_CreateClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/DeleteClass" message="tns:IClassService_DeleteClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/DeleteClassResponse" message="tns:IClassService_DeleteClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/SaveClass" message="tns:IClassService_SaveClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/SaveClassResponse" message="tns:IClassService_SaveClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/GetClassByName" message="tns:IClassService_GetClassByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/GetClassByNameResponse" message="tns:IClassService_GetClassByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IHeroService">
    <wsdl:operation name="ReturnHerosFromAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/ReturnHerosFromAccount" message="tns:IHeroService_ReturnHerosFromAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/ReturnHerosFromAccountResponse" message="tns:IHeroService_ReturnHerosFromAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/CreateHero" message="tns:IHeroService_CreateHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/CreateHeroResponse" message="tns:IHeroService_CreateHero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/DeleteHero" message="tns:IHeroService_DeleteHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/DeleteHeroResponse" message="tns:IHeroService_DeleteHero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/MoveHero" message="tns:IHeroService_MoveHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/MoveHeroResponse" message="tns:IHeroService_MoveHero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/ReturnHero" message="tns:IHeroService_ReturnHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/ReturnHeroResponse" message="tns:IHeroService_ReturnHero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/ConnectHero" message="tns:IHeroService_ConnectHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/ConnectHeroResponse" message="tns:IHeroService_ConnectHero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnHeroes">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/ReturnHeroes" message="tns:IHeroService_ReturnHeroes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/ReturnHeroesResponse" message="tns:IHeroService_ReturnHeroes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsHeroConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/IsHeroConnected" message="tns:IHeroService_IsHeroConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/IsHeroConnectedResponse" message="tns:IHeroService_IsHeroConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PicksUpItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/PicksUpItem" message="tns:IHeroService_PicksUpItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/PicksUpItemResponse" message="tns:IHeroService_PicksUpItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWorldService">
    <wsdl:operation name="GetAllWorldNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorldService/GetAllWorldNames" message="tns:IWorldService_GetAllWorldNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorldService/GetAllWorldNamesResponse" message="tns:IWorldService_GetAllWorldNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorldByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorldService/GetWorldByName" message="tns:IWorldService_GetWorldByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorldService/GetWorldByNameResponse" message="tns:IWorldService_GetWorldByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWorldItemService">
    <wsdl:operation name="ReturnWorldItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorldItemService/ReturnWorldItems" message="tns:IWorldItemService_ReturnWorldItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorldItemService/ReturnWorldItemsResponse" message="tns:IWorldItemService_ReturnWorldItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMonsterService">
    <wsdl:operation name="ReturnMonsters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonsterService/ReturnMonsters" message="tns:IMonsterService_ReturnMonsters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonsterService/ReturnMonstersResponse" message="tns:IMonsterService_ReturnMonsters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IItemService">
    <wsdl:operation name="ReturnItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/ReturnItems" message="tns:IItemService_ReturnItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/ReturnItemsResponse" message="tns:IItemService_ReturnItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IInventoryService">
    <wsdl:operation name="GetPlayerInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetPlayerInventory" message="tns:IInventoryService_GetPlayerInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetPlayerInventoryResponse" message="tns:IInventoryService_GetPlayerInventory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentification">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Authentification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfoByUsername">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAccountInfoByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IClassService" type="tns:IClassService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClasses">
      <soap:operation soapAction="http://tempuri.org/IClassService/GetAllClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/CreateClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/DeleteClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/SaveClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassByName">
      <soap:operation soapAction="http://tempuri.org/IClassService/GetClassByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IHeroService" type="tns:IHeroService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnHerosFromAccount">
      <soap:operation soapAction="http://tempuri.org/IHeroService/ReturnHerosFromAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHero">
      <soap:operation soapAction="http://tempuri.org/IHeroService/CreateHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHero">
      <soap:operation soapAction="http://tempuri.org/IHeroService/DeleteHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveHero">
      <soap:operation soapAction="http://tempuri.org/IHeroService/MoveHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnHero">
      <soap:operation soapAction="http://tempuri.org/IHeroService/ReturnHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectHero">
      <soap:operation soapAction="http://tempuri.org/IHeroService/ConnectHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnHeroes">
      <soap:operation soapAction="http://tempuri.org/IHeroService/ReturnHeroes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHeroConnected">
      <soap:operation soapAction="http://tempuri.org/IHeroService/IsHeroConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PicksUpItem">
      <soap:operation soapAction="http://tempuri.org/IHeroService/PicksUpItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWorldService" type="tns:IWorldService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllWorldNames">
      <soap:operation soapAction="http://tempuri.org/IWorldService/GetAllWorldNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorldByName">
      <soap:operation soapAction="http://tempuri.org/IWorldService/GetWorldByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWorldItemService" type="tns:IWorldItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnWorldItems">
      <soap:operation soapAction="http://tempuri.org/IWorldItemService/ReturnWorldItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMonsterService" type="tns:IMonsterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnMonsters">
      <soap:operation soapAction="http://tempuri.org/IMonsterService/ReturnMonsters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IItemService" type="tns:IItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnItems">
      <soap:operation soapAction="http://tempuri.org/IItemService/ReturnItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IInventoryService" type="tns:IInventoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayerInventory">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetPlayerInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HugoLandService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IClassService" binding="tns:BasicHttpBinding_IClassService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IHeroService" binding="tns:BasicHttpBinding_IHeroService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWorldService" binding="tns:BasicHttpBinding_IWorldService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWorldItemService" binding="tns:BasicHttpBinding_IWorldItemService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMonsterService" binding="tns:BasicHttpBinding_IMonsterService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IItemService" binding="tns:BasicHttpBinding_IItemService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IInventoryService" binding="tns:BasicHttpBinding_IInventoryService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>