Hugo_LAND.Client/Connected Services/HugoLandServices/HugoLandService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.Core.Models" />
  <xs:complexType name="AccountDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Courriel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomJoueur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hugo_LAND.Core.Models" minOccurs="0" name="TypeUtilisateur" type="q1:TypeUtilisateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDetailsDTO" nillable="true" type="tns:AccountDetailsDTO" />
  <xs:complexType name="ArrayOfClassDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClassDetailsDTO" nillable="true" type="tns:ClassDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassDetailsDTO" nillable="true" type="tns:ArrayOfClassDetailsDTO" />
  <xs:complexType name="ClassDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NomClasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatBaseDex" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseStr" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseVitalite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassDetailsDTO" nillable="true" type="tns:ClassDetailsDTO" />
  <xs:complexType name="WorldItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorldItemDTO" nillable="true" type="tns:WorldItemDTO" />
  <xs:complexType name="ArrayOfHeroDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeroDetailsDTO" nillable="true" type="tns:HeroDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeroDetailsDTO" nillable="true" type="tns:ArrayOfHeroDetailsDTO" />
  <xs:complexType name="HeroDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Experience" type="xs:long" />
      <xs:element minOccurs="0" name="HeroName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="StatDex" type="xs:int" />
      <xs:element minOccurs="0" name="StatInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatStr" type="xs:int" />
      <xs:element minOccurs="0" name="StatVitality" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="World" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroDetailsDTO" nillable="true" type="tns:HeroDetailsDTO" />
  <xs:complexType name="ArrayOfWorldItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorldItemDTO" nillable="true" type="tns:WorldItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorldItemDTO" nillable="true" type="tns:ArrayOfWorldItemDTO" />
</xs:schema>