Hugo_LAND.Client/Connected Services/HugoLandServices/HugoLandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HugoLandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.Core.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_Authentification_InputMessage">
    <wsdl:part name="parameters" element="tns:Authentification" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Authentification_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthentificationResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RetourneIdCompteParNom_InputMessage">
    <wsdl:part name="parameters" element="tns:RetourneIdCompteParNom" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RetourneIdCompteParNom_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetourneIdCompteParNomResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountInfoByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfoByUsername" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountInfoByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfoByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetAllClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClasses" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetAllClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_CreerClasse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreerClasse" />
  </wsdl:message>
  <wsdl:message name="IClassService_CreerClasse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreerClasseResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_DeleteClass_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_DeleteClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_SaveClass_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_SaveClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetClasseByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClasseByName" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetClasseByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClasseByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_RetourneHerosCompte_InputMessage">
    <wsdl:part name="parameters" element="tns:RetourneHerosCompte" />
  </wsdl:message>
  <wsdl:message name="IHeroService_RetourneHerosCompte_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetourneHerosCompteResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_CreeHero_InputMessage">
    <wsdl:part name="parameters" element="tns:CreeHero" />
  </wsdl:message>
  <wsdl:message name="IHeroService_CreeHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreeHeroResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_SupprimeHero_InputMessage">
    <wsdl:part name="parameters" element="tns:SupprimeHero" />
  </wsdl:message>
  <wsdl:message name="IHeroService_SupprimeHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimeHeroResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_DeplaceHero_InputMessage">
    <wsdl:part name="parameters" element="tns:DeplaceHero" />
  </wsdl:message>
  <wsdl:message name="IHeroService_DeplaceHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeplaceHeroResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroService_RetourneHerosActuel_InputMessage">
    <wsdl:part name="parameters" element="tns:RetourneHerosActuel" />
  </wsdl:message>
  <wsdl:message name="IHeroService_RetourneHerosActuel_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetourneHerosActuelResponse" />
  </wsdl:message>
  <wsdl:message name="IWorldService_GetAllWorldNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorldNames" />
  </wsdl:message>
  <wsdl:message name="IWorldService_GetAllWorldNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorldNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IWorldService_GetWorldByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldByName" />
  </wsdl:message>
  <wsdl:message name="IWorldService_GetWorldByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="Authentification">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Authentification" message="tns:IAccountService_Authentification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AuthentificationResponse" message="tns:IAccountService_Authentification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetourneIdCompteParNom">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/RetourneIdCompteParNom" message="tns:IAccountService_RetourneIdCompteParNom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/RetourneIdCompteParNomResponse" message="tns:IAccountService_RetourneIdCompteParNom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfoByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccountInfoByUsername" message="tns:IAccountService_GetAccountInfoByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountInfoByUsernameResponse" message="tns:IAccountService_GetAccountInfoByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IClassService">
    <wsdl:operation name="GetAllClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/GetAllClasses" message="tns:IClassService_GetAllClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/GetAllClassesResponse" message="tns:IClassService_GetAllClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreerClasse">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/CreerClasse" message="tns:IClassService_CreerClasse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/CreerClasseResponse" message="tns:IClassService_CreerClasse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/DeleteClass" message="tns:IClassService_DeleteClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/DeleteClassResponse" message="tns:IClassService_DeleteClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/SaveClass" message="tns:IClassService_SaveClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/SaveClassResponse" message="tns:IClassService_SaveClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClasseByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/GetClasseByName" message="tns:IClassService_GetClasseByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/GetClasseByNameResponse" message="tns:IClassService_GetClasseByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IHeroService">
    <wsdl:operation name="RetourneHerosCompte">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/RetourneHerosCompte" message="tns:IHeroService_RetourneHerosCompte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/RetourneHerosCompteResponse" message="tns:IHeroService_RetourneHerosCompte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreeHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/CreeHero" message="tns:IHeroService_CreeHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/CreeHeroResponse" message="tns:IHeroService_CreeHero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupprimeHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/SupprimeHero" message="tns:IHeroService_SupprimeHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/SupprimeHeroResponse" message="tns:IHeroService_SupprimeHero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeplaceHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/DeplaceHero" message="tns:IHeroService_DeplaceHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/DeplaceHeroResponse" message="tns:IHeroService_DeplaceHero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetourneHerosActuel">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroService/RetourneHerosActuel" message="tns:IHeroService_RetourneHerosActuel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroService/RetourneHerosActuelResponse" message="tns:IHeroService_RetourneHerosActuel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWorldService">
    <wsdl:operation name="GetAllWorldNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorldService/GetAllWorldNames" message="tns:IWorldService_GetAllWorldNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorldService/GetAllWorldNamesResponse" message="tns:IWorldService_GetAllWorldNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorldByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorldService/GetWorldByName" message="tns:IWorldService_GetWorldByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorldService/GetWorldByNameResponse" message="tns:IWorldService_GetWorldByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentification">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Authentification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetourneIdCompteParNom">
      <soap:operation soapAction="http://tempuri.org/IAccountService/RetourneIdCompteParNom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfoByUsername">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAccountInfoByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IClassService" type="tns:IClassService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClasses">
      <soap:operation soapAction="http://tempuri.org/IClassService/GetAllClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreerClasse">
      <soap:operation soapAction="http://tempuri.org/IClassService/CreerClasse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/DeleteClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/SaveClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClasseByName">
      <soap:operation soapAction="http://tempuri.org/IClassService/GetClasseByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IHeroService" type="tns:IHeroService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetourneHerosCompte">
      <soap:operation soapAction="http://tempuri.org/IHeroService/RetourneHerosCompte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreeHero">
      <soap:operation soapAction="http://tempuri.org/IHeroService/CreeHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupprimeHero">
      <soap:operation soapAction="http://tempuri.org/IHeroService/SupprimeHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeplaceHero">
      <soap:operation soapAction="http://tempuri.org/IHeroService/DeplaceHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetourneHerosActuel">
      <soap:operation soapAction="http://tempuri.org/IHeroService/RetourneHerosActuel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWorldService" type="tns:IWorldService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllWorldNames">
      <soap:operation soapAction="http://tempuri.org/IWorldService/GetAllWorldNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorldByName">
      <soap:operation soapAction="http://tempuri.org/IWorldService/GetWorldByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HugoLandService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IClassService" binding="tns:BasicHttpBinding_IClassService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IHeroService" binding="tns:BasicHttpBinding_IHeroService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWorldService" binding="tns:BasicHttpBinding_IWorldService">
      <soap:address location="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>