Hugo_LAND.Client/Connected Services/HugoLandServices/HugoLandService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.Core.Models" />
  <xs:complexType name="AccountDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hugo_LAND.Core.Models" minOccurs="0" name="TypeUtilisateur" type="q1:TypeUtilisateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDetailsDTO" nillable="true" type="tns:AccountDetailsDTO" />
  <xs:complexType name="ArrayOfClassDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClassDetailsDTO" nillable="true" type="tns:ClassDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassDetailsDTO" nillable="true" type="tns:ArrayOfClassDetailsDTO" />
  <xs:complexType name="ClassDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseDex" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseReg" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseStr" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseVitality" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassDetailsDTO" nillable="true" type="tns:ClassDetailsDTO" />
  <xs:complexType name="WorldDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LimiteX" type="xs:int" />
      <xs:element minOccurs="0" name="LimiteY" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorldDetailsDTO" nillable="true" type="tns:WorldDetailsDTO" />
  <xs:complexType name="ArrayOfHeroDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeroDetailsDTO" nillable="true" type="tns:HeroDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeroDetailsDTO" nillable="true" type="tns:ArrayOfHeroDetailsDTO" />
  <xs:complexType name="HeroDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Experience" type="xs:long" />
      <xs:element minOccurs="0" name="HeroName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="StatDex" type="xs:int" />
      <xs:element minOccurs="0" name="StatReg" type="xs:int" />
      <xs:element minOccurs="0" name="StatStr" type="xs:int" />
      <xs:element minOccurs="0" name="StatVitality" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="World" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isConnected" type="xs:boolean" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroDetailsDTO" nillable="true" type="tns:HeroDetailsDTO" />
  <xs:complexType name="ArrayOfWorldDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorldDetailsDTO" nillable="true" type="tns:WorldDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorldDetailsDTO" nillable="true" type="tns:ArrayOfWorldDetailsDTO" />
  <xs:complexType name="ArrayOfWorldItemDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorldItemDetailsDTO" nillable="true" type="tns:WorldItemDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorldItemDetailsDTO" nillable="true" type="tns:ArrayOfWorldItemDetailsDTO" />
  <xs:complexType name="WorldItemDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="TypeObject" type="xs:int" />
      <xs:element minOccurs="0" name="World" type="xs:int" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorldItemDetailsDTO" nillable="true" type="tns:WorldItemDetailsDTO" />
  <xs:complexType name="ArrayOfMonsterDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonsterDetailsDTO" nillable="true" type="tns:MonsterDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonsterDetailsDTO" nillable="true" type="tns:ArrayOfMonsterDetailsDTO" />
  <xs:complexType name="MonsterDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Niveau" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatDmgMax" type="xs:float" />
      <xs:element minOccurs="0" name="StatDmgMin" type="xs:float" />
      <xs:element minOccurs="0" name="StatPV" type="xs:int" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonsterDetailsDTO" nillable="true" type="tns:MonsterDetailsDTO" />
  <xs:complexType name="ArrayOfItemDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemDetailsDTO" nillable="true" type="tns:ItemDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemDetailsDTO" nillable="true" type="tns:ArrayOfItemDetailsDTO" />
  <xs:complexType name="ItemDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="x" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="y" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemDetailsDTO" nillable="true" type="tns:ItemDetailsDTO" />
</xs:schema>