Hugo_LAND.Client/Connected Services/HugoLandServices/HugoLandService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hugo_Land.WCF.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hugo_Land.WCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClassDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClassDetailsDTO" nillable="true" type="tns:ClassDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassDetailsDTO" nillable="true" type="tns:ArrayOfClassDetailsDTO" />
  <xs:complexType name="ClassDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NomClasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatBaseDex" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseStr" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseVitalite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassDetailsDTO" nillable="true" type="tns:ClassDetailsDTO" />
  <xs:complexType name="ArrayOfHeroDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeroDetailsDTO" nillable="true" type="tns:HeroDetailsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeroDetailsDTO" nillable="true" type="tns:ArrayOfHeroDetailsDTO" />
  <xs:complexType name="HeroDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstConnecte" type="xs:boolean" />
      <xs:element minOccurs="0" name="Experience" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Niveau" type="xs:int" />
      <xs:element minOccurs="0" name="NomHero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatDex" type="xs:int" />
      <xs:element minOccurs="0" name="StatInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatStr" type="xs:int" />
      <xs:element minOccurs="0" name="StatVitalite" type="xs:int" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroDetailsDTO" nillable="true" type="tns:HeroDetailsDTO" />
</xs:schema>