Hugo_LAND.Client/Connected Services/HugoLandServices/HugoLandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Adresses/Hugo_LAND.WCF/HugoLandService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" />
  <xs:element name="Authentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthentificationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneIdCompteParNom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneIdCompteParNomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneIdCompteParNomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountInfoByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountInfoByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="GetAccountInfoByUsernameResult" nillable="true" type="q1:AccountDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="GetAllClassesResult" nillable="true" type="q2:ArrayOfClassDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerClasse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="newClass" nillable="true" type="q3:ClassDetailsDTO" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="world" nillable="true" type="q4:WorldItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerClasseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="dto" nillable="true" type="q5:ClassDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="dto" nillable="true" type="q6:ClassDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasseByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasseByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="GetClasseByNameResult" nillable="true" type="q7:ClassDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHerosCompte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompteJoueur" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHerosCompteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="RetourneHerosCompteResult" nillable="true" type="q8:ArrayOfHeroDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="dto" nillable="true" type="q9:HeroDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHeroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimeHero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="dto" nillable="true" type="q10:HeroDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimeHeroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeplaceHero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="dto" nillable="true" type="q11:HeroDetailsDTO" />
        <xs:element minOccurs="0" name="newX" type="xs:int" />
        <xs:element minOccurs="0" name="newY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeplaceHeroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHerosActuel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idhero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHerosActuelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="RetourneHerosActuelResult" nillable="true" type="q12:HeroDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorldNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorldNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="GetAllWorldNamesResult" nillable="true" type="q13:ArrayOfWorldItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="worldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hugo_LAND.WCF.DTOs" minOccurs="0" name="GetWorldByNameResult" nillable="true" type="q14:WorldItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>